extends layout

block content

  h1 #{hospital.name}

  div(style='margin-left:20px;margin-top:20px')

    p #[strong Category:] #[em #{hospital.category}]
    p #[strong Location:] #[em #{hospital.locality}]
    p #[strong About #{hospital.name}:]
      p #{hospital.description}
