extends layout

block content

  h1 Hospital: #{hospital.name}

  div(style='margin-left:20px;margin-top:20px')

    h2 Category: #{hospital.category}
    h3 Location: #{hospital.locality}
    h4 #[strong About #{hospital.name}:]
      div(style='margin-left:20px;margin-top:20px')
        #{hospital.description}
