extends layout

block content

  h1= title

  div(style='margin-left:20px;margin-top:20px')
    
    p Date of Birth: #[em #{patient.date_birth_formatted}]
    p National ID: #[em #{patient.national_id}]
    p Chronic Illness: #[em #{patient.chronic_illness}]
    p Patient History diagnosis: #{HistoryOutput}
      //div(style='margin-left:40px;margin-top:30px')
        
        //else
          //div(style='margin-left:40px;margin-top:30px')
            // p This patient has no history:
            // a(href='/archive/patienthistory/create')
