extends layout

block content

  h1 #{patient.fullname}

  div(style='margin-left:20px;margin-top:20px')
    
    p Diagnosis: #{patienthistory.diagnosis}
    p Date of diagnosis: #{patienthistory.attended_at}
    p Medication: #{patienthistory.medication}
    p Hospital attended: #{patienthistory.hospital}
    
    h4 Period under medication:
      p #{patienthistory.med_start_date_formatted} - #{patienthistory.med_end_date_formatted}
