extends layout

block content

  h1 #{patient.fullname}

  div(style='margin-left:20px;margin-top:20px');
    
    p Date of Birth: #[em #{patient.date_birth_formatted}]
    p National ID: #[em #{patient.national_id}]
    p Chronic Illness: #[em #{patient.chronic_illness]
    p #{history.medication_status}
    p Patient History:
      if patient_history.length
        ul
          each history in patient_history
            li
              a(href=history.url) #{history}

      else
        This patient has no history.
